.DS_Store
Thumbs.db

*.o
*.obj
*.lo
*.la
*.al
*.libs
*.so
*.so.*
*.dylib
*.dll
*.exe
*.out
*.app
*.i*
*.d
*.pdb
*.mod
*.smod
*.a
*.lib

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Testing/
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestCustom.cmake

/build/
/build*/
/cmake*/
/tests/
/test/
/Makefile

