[submodule "third_party/libpng"]
	path = third_party/libpng
	url = https://github.com/glennrp/libpng.git
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib.git
[submodule "third_party/libogg"]
	path = third_party/libogg
	url = https://github.com/xiph/ogg.git
[submodule "third_party/libflac"]
	path = third_party/libflac
	url = https://github.com/xiph/flac.git
[submodule "third_party/libwebp"]
	path = third_party/libwebp
	url = https://chromium.googlesource.com/webm/libwebp.git
[submodule "third_party/mozjpeg"]
	path = third_party/mozjpeg
	url = https://github.com/mozilla/mozjpeg.git
[submodule "third_party/libarchive"]
	path = third_party/libarchive
	url = https://github.com/libarchive/libarchive.git
[submodule "third_party/libtiff"]
	path = third_party/libtiff
	url = https://gitlab.com/libtiff/libtiff.git
[submodule "third_party/zopfli"]
	path = third_party/zopfli
	url = https://github.com/google/zopfli.git
[submodule "third_party/sqlite3"]
	path = third_party/sqlite3
	url = https://github.com/sjinks/sqlite3-cmake.git
[submodule "third_party/libjxl"]
	path = third_party/libjxl
	url = https://github.com/libjxl/libjxl.git
[submodule "third_party/wavpack"]
	path = third_party/wavpack
	url = https://github.com/dbry/WavPack.git
[submodule "third_party/libebml"]
	path = third_party/libebml
	url = https://github.com/Matroska-Org/libebml.git
[submodule "third_party/libmatroska"]
	path = third_party/libmatroska
	url = https://github.com/Matroska-Org/libmatroska.git
[submodule "third_party/qpdf"]
	path = third_party/qpdf
	url = https://github.com/Snesnopic/qpdf.git
[submodule "third_party/libmseed"]
	path = third_party/libmseed
	url = https://github.com/EarthScope/libmseed.git
[submodule "third_party/xz"]
	path = third_party/xz
	url = https://github.com/tukaani-project/xz.git
[submodule "third_party/zstd"]
	path = third_party/zstd
	url = https://github.com/facebook/zstd.git
[submodule "third_party/MACLib"]
	path = third_party/MACLib
	url = https://github.com/Snesnopic/MACLib
[submodule "third_party/flexigif"]
	path = third_party/flexigif
	url = https://github.com/Snesnopic/flexigif.git
[submodule "third_party/libmkclean"]
	path = third_party/libmkclean
	url = https://github.com/Snesnopic/libmkclean.git
	branch = fix-arm64-lzo
[submodule "third_party/stb"]
	path = third_party/stb
	url = https://github.com/nothings/stb
[submodule "third_party/taglib"]
	path = third_party/taglib
	url = https://github.com/taglib/taglib.git
[submodule "third_party/bmplib"]
	path = third_party/bmplib
	url = https://github.com/rupertwh/bmplib.git
[submodule "third_party/gifsicle"]
	path = third_party/gifsicle
	url = https://github.com/Snesnopic/gifsicle.git
